certifi
chardet
cycler
decorator
easydict
graphviz
grpcio==1.25.0
grpcio-tools
idna
imageio
insightface
joblib
kiwisolver
matplotlib
mxnet-cu100
networkx
opencv-python
Pillow
protobuf
pyparsing
python-dateutil
PyWavelets
requests
scikit-image
scikit-learn
scipy
six
ujson
urllib3

numpy
pandas
dill
tqdm
python-speech-features
natsort
flask-cors
flask
flask_restful
pymilvus
librosa
tensorflow
keras
psycopg2-binary