certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
easydict==1.9
graphviz==0.8.4
grpcio==1.28.1
grpcio-tools==1.28.1
idna==2.9
imageio==2.8.0
insightface==0.1.5
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
mxnet-cu100==1.5.1.post0
networkx==2.4
opencv-python==4.2.0.34
Pillow==7.1.2
protobuf==3.11.3
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.23.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
ujson==2.0.3
urllib3==1.25.9

numpy
pandas
dill
tqdm
python-speech-features
natsort
flask-cors
flask
flask_restful
pymilvus
librosa
tensorflow
